body{
    overflow:hidden;
    margin:0;
}
#background-jank{
    position: absolute;
    background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/369060/e956b1c351981ac95c5ae2c0a22a48d9b352fcce.jpg');
    background-repeat: repeat;
    z-index: -1;
}
#slime{
    width: 50px;
    margin: 0px;
    height: 50px;
    position: absolute;
    transform: scaleX(-1);
    z-index: 1;
}

.brick{
    position:absolute;
    background-image: url('../images/brick60.png');
}

#floor{
    position: absolute;
    background-color: #D0D0D0;
    top: 575px;
    left: 0px;
    width: 1600px;
    height: 50px;
    z-index: 0;
}

