/*#titleScreen{
    background: url('../images/slime.gif');
    width: 500px;
    height: 500px;
    position: absolute;
}*/

#slime{
    width: 100px;
    height: 100px;
    position: absolute;
    transform: none;    
}